*.swp
__pycache__
*.zip
.vscode
*.egg-info
data/
.DS_Store
rt_all_data/
rt_results/
results_single/
experiments/
nightly_data/
nightly_results/
demo_results_parallel/
*.pyc
demo_data/lafan/
converted_res/
data_utils/lafan1
*.sh
*.bvh
