<?xml version="1.0" encoding="UTF-8"?>
<robot name="mixing_bowl">
  <material name="color">
    <color rgba="1.0 0.42 0.04 1.0"/>
  </material>

  <link name="mixing_bowl_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mixing_bowl_visual.obj" scale="1 1 1"/>
      </geometry>
      <material name="color"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mixing_bowl_visual.obj" scale="1 1 1"/>
      </geometry>
    </collision>

  </link>
</robot>